---
title: 'Open Mindedness'
date: '2024-12-22'
draft: false
---

You're looking at the world through a keyhole. You spend your whole life trying to widen that keyhole, to see more, to know more, and now, on hearing that it can be widened in ways you can't imagine, you reject the possibility.


