This video is for all you guys and girls who want to get into fitness but who don't want to make it your entire personality. It's for those who want to feel a little better, have more energy, maybe move without pain, who maybe want to look better, have a bit more muscle, a bit less fat, and who perhaps want to perform better in their chosen sports.

And I'm making this video because I think at the moment there isn't really an obvious jumping on point on the internet for those who are looking to get started. Social media has a bit of a tendency to be geared towards people who want to become like the next Mr Olympia, to build 17-inch biceps, or who want to become Instagram fitness models. I mean, I literally just typed in Fitness and it's 90% bums and quite a lot of guys who are very clearly on roids. But I mean if that's not Fitness what is? This is Instagram to be fair.

And at the same time, it tends to sort people into groups or tribes. You've got your powerlifters, you've got your Ultra Marathon Runners, you've got your martial artists, your calisthenics athletes, your bodybuilders, whereas Fitness really I think as I always talk about on this channel should be a combination of things where you're able to run when you want to run and you have some decent strength and you can also bend over and touch your toes without putting your back out.

But what they're forgetting and what's often not talked about in Fitness online is that you need to build a foundation of Health before you can build muscle or lose weight or do whatever it is you want to do because in order to exercise you need work capacity, you need endurance. If you have no work capacity, no endurance, you're not going to be able to train.

At the same time in order to build muscle you need to know how to perform those movements. You need good proprioception, body awareness, but the truth is that a lot of people simply can't do one push-up and if they can they're probably doing it with their elbows by their ear and their waist sagging on the floor. They can't do a squat without nearly falling over backwards or without rounding their back significantly.

But coaches both physical and online are incentivized to write these kind of programs both because again we're in these echo chambers of people who already train but also because that's what clients want. They want to see results but actually the most important results are the results you can't see. If you've increased your energy levels and learned to move your body then it's from there that you are then able to make your training program work and actually start to see the results when you can feel the biceps working, when you're not giving up because you're out of breath or because you simply have no motivation to train in the first place.

You need to build that energy, you need to build that body control then can you start to build muscle. So if you're not seeing results in the first couple of weeks, the first couple of months don't worry because you're building the foundation and that's going to stay with you now so that all of your training becomes more effective in future.

And that's also why I think a great training program is something just really simple that you can't really get all that wrong. One that I like to recommend to people is the ONE program that stands for Only Necessary Exercise and it's just simply push-ups, pull-ups, and air squats. Perform those for a good amount of reps so that you're feeling an ache, focus on doing the form correctly, and then build up your volume over time.

This is a great way to train not only your movement but also your work capacity and energy and you're going to build a little bit of muscle at the same time. And there are easier variations of each of the movements - push-ups you can do on your knees, you can do them against the wall, instead of pull-ups you can do a body weight row using a towel loop around a door for example. There's all sorts of options to make it easier or of course you can make it harder as you start to progress.

And if you're thinking that everything I'm saying isn't going to build you lots of muscle and give you the physique that you're after then again you might be getting a little bit ahead of yourself. This will build muscle, any calisthenics will build muscle, but you'll gain the skills and the endurance and the capacity you need to then be able to build muscle further.

At the same time if you're also losing weight, if you're cutting fat by doing this in a higher rep range or perhaps combining it with sports and athletics, you're going to look more ripped, you're going to look more lean and that's probably how you actually want to look. You don't need 19-inch biceps to look like you have big arms. If you've got well-developed biceps and well-developed triceps and relatively low body fat you're going to look great and again it's about not taking it too far and the longer you go the better you're going to look.

Again there's no race here, there's no rush and there's no competition. You'd be surprised genuinely how much of my physique just comes from push-ups, pull-ups and air squats like a lot of it and if you go high later on go to failure and past failure you can get some pretty stunning results.

And I highly recommend training from home so that means not going to a gym right away. Some people think that signing up for gym membership especially around New Years that this is going to be a really great way to make themselves start to work out. They're going to feel guilty about spending the money so they're going to go to the gym. This is demonstrably not true like how many people do you know who have a gym membership and don't use it.

Working out from home is great for beginners because you're not being looked at. If you feel at all self-conscious and if you're new to training you probably will then that's out of the question. You can do whatever you want to do, you can watch TV at the same time, there's no commute. I just think that for someone starting training, starting from home there's a much better way to do things and again you wouldn't start piano lessons and just immediately buy the most expensive electric piano or at least if you would then that's not very smart. Instead you see if you like it, you ease into it and once you've made it a habit then you can start thinking about spending more money.

I know some people now are going to be saying that I'm promoting mediocrity or whatever by telling people to do this and that you're not going to build muscle by doing this but here's the thing: when you've actually trained real clients in the real world not just people online who are into fitness you realize that the biggest problem for most people is just sticking to their training and by keeping it simple and teaching them to enjoy working out you're going to get far better results than insisting that they do deadlifts with perfect form.

You can do whatever you like in the gym you know. I personally don't deadlift and the reason for that is just that it's the right faff and I know that's going to annoy some people but I can do what I want, you can do what you want in the gym.

Another option for people starting out is to pick some kind of cardio activity. Something like jumping rope is great for example but another really good one is just to start a class or something a hobby maybe a sport. Do football, do Zumba, do dance, do yoga, go several times a week you know two or three times if you can ideally maybe do more than one activity but just find things you enjoy and then do them enough that you start to see results.

And again some people are going to tell me you can't really get fit by just joining a sports club or whatever but again actually you get very fit doing this especially if you put in the effort and you really enjoy it especially as you get better because again sticking to something advance that's the biggest challenge for most people. There's no requirement that exercise be dull and brutal and unpleasant. It's really important that you enjoy it.

Activities like football are fantastic because not only are you building endurance and improving your cardiovascular fitness, not only are you losing weight probably, you're also training your core, you're learning to quickly change direction, you're building explosiveness and ankle stiffness and balance and all those things just make you more athletic and then if you want more muscle you can add on top the basic body weight routine and you're going to start to see some great results and just a really good place for most people to start.

And again a lot of people aren't going to like this but there's a reason that so many people are so adamant that you need to do weightlifting or that you need to do long distance running or you need to push yourself and grind or you're not going to see results and the reason for that is just that they're incentivized again to get you to really commit to their one type of training because it's going after that 700 pound squat that's going to mean that you have to consume all of the content online about squats and join the community and go to the gym every single day and buy the supplements and if someone else has invested all that time and energy then they're going to be really wedded to the idea that that's what everybody has to do but don't listen to it.

If your goal is just to get fitter then just do something you enjoy and be more active because again actually fitness isn't just the one thing. Being able to squat 700 pounds is fantastic, it's an incredible achievement but if you now can't run very fast, you can't touch your toes, you're not this pinnacle of health and fitness. Was actually the person who played football just as a hobby might in some ways actually be fitter than you.

Look at a whole bunch of different tasks whether it's playing with your kids, whether it's moving house, whether it's doing a day of hard labor, whether it's running for the bus - who's going to perform better in all of those tasks? Is it the person who can squat 700 pounds or is it the guy who actively runs and jumps and changes direction as part of something that they enjoy? Just normal healthy guys and girls that we can all aspire to be.

Now that's what I'm talking about that's Fitness cool. I don't know who he is this Rajer Yadav Fitness hopefully I haven't butchered that. Look he's not crazy bulky that's cooler right? Am I crazy? Is that not more desirable for most people? I probably sound like I'm like a 100 years old right now but yeah I think the world's gone mad.

Likewise ask most women which kind of body they prefer - Mr Olympia or again a professional football player and they'll tell you it's the professional football player. And I'm not again saying this to own bodybuilders or powerlifters because I think it's incredible. I too am interested in the limits of human performance as a hobby but that isn't Fitness.

Fitness is being able to do all the things you want to be able to do a little bit better. It's having better endurance, better mobility, more muscle, stronger bones and less pain. And here's another thing - if you're limping around because you've got a bad knee or a bad back or a bad shoulder (I don't know why that would make you limp but just go with it) then you need to focus on that as a priority if you genuinely are interested in Fitness.

Not every scenario where you've got a bad knee or a bad back can be treated but many can. Very often it's to do with poor posture with muscle imbalances and if you're telling me you want to work on this massive bench press because you want to be the very best that you can be but you're limping everywhere and you haven't done anything to address it then I think there's a disconnect here.

So again really impressive stuff I personally like it but that's not Fitness that's just one expression of Fitness but if you genuinely want to be fit you need all those things. So telling someone who's a beginner that they need to do all this kind of bodybuilding split or this powerlifting is just disconnected from reality.

It's all important to think of other aspects outside of the gym because we very often think about our health and fitness and just be like right go to the gym job done but actually it's about the entirety of everything you do. What you do outside the gym will affect how you perform at the gym and what you do at the gym will affect how you feel the rest of the day.

So if you're very over tired this is going to affect how well you work out and how much you should be working out. Likewise if you're training really really hard right before something important's coming up that's not a great idea either. You need to think about all the things that support that Fitness so things like your sleep, like your diet obviously.
