---
title: How to Change
date: 2024-10-20
description: A collection of resources about change
---

- [Your Theme](https://www.youtube.com/watch?v=NVGuFdX5guE)
- [Spaceship you](https://www.youtube.com/watch?v=snAhsXyO3Ck)
- [Change Your Life](https://www.youtube.com/watch?v=75d_29QWELk)
- [How to motivate yourself to change your behaviour](https://www.youtube.com/watch?v=xp0O2vi8DX4)
