@import 'tailwindcss';

[data-theme='dark'] {
	color-scheme: dark;
}

@theme {
	--color-surface-0: light-dark(var(--color-zinc-50), var(--color-zinc-950));
	--color-surface-1: light-dark(var(--color-zinc-100), var(--color-zinc-900));
	--color-surface-2: light-dark(var(--color-zinc-200), var(--color-zinc-800));
	--color-surface-3: light-dark(var(--color-zinc-300), var(--color-zinc-700));
	--color-surface-4: light-dark(var(--color-zinc-400), var(--color-zinc-600));

	--color-content-0: light-dark(var(--color-zinc-700), var(--color-zinc-300));
	--color-content-1: light-dark(var(--color-zinc-400), var(--color-zinc-600));
	/* --color-content-2: light-dark(var(--color-zinc-700), var(--color-zinc-300));
	--color-content-3: light-dark(var(--color-zinc-600), var(--color-zinc-400)); */

	--color-primary: hsl(200, 100%, 50%);
	--color-primary-on: white;
}

@layer components {
	.layout {
		@apply grid max-w-2xl mx-auto px-4 pt-12;
	}

	.btn {
		@apply inline-flex items-center justify-center gap-2 px-4 py-2 rounded-md font-medium disabled:opacity-50;
		transition-property: translate;
    transition-duration: 0.3s;

		&:hover {
			translate: 0 -4px;
		}
	}

	.variant-primary {
		@apply bg-primary text-primary-on;
	}

	.prose {
		@apply max-w-prose leading-7;
	}
}

@layer base {
	button {
		cursor: pointer;
	}

	h1,
	.heading-1 {
		@apply text-4xl font-bold tracking-tight;
	}
	h2,
	.heading-2 {
		@apply text-3xl font-bold tracking-tight;
	}
	h3,
	.heading-3 {
		@apply text-2xl font-bold;
	}
	h4,
	.heading-4 {
		@apply text-xl font-bold;
	}
}

:root {
	--font-body: 'Inter Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-body);
	scroll-behavior: smooth;
}

body:has(dialog[open]) {
	overflow: hidden;
	scrollbar-gutter: stable;
}

:root *::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 8px;
	height: 8px;
}

:root *::-webkit-scrollbar-track {
	background-color: transparent;
}

:root *::-webkit-scrollbar-thumb {
	background-color: var(--b7);
	border-radius: 1rem;
}

body {
	min-height: 100vh;
	margin: 0;
	line-height: 1.5;
	/* background-attachment: fixed;
	background-size: 100vw 100vh; */
	background-color: var(--color-surface-0);
	color: var(--color-content-0);
}
pre {
	font-family: var(--font-mono);
	border-radius: 3px;
	padding: 0.5em;
	overflow-x: auto;
	/* @apply bg-b1; */
}

code {
	@apply px-1.5 rounded-lg whitespace-nowrap;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

ul {
	list-style-type: disc;
	padding-left: 1.5rem;
}

ol {
	list-style-type: decimal;
	padding-left: 1.5rem;
}

ul ul {
	list-style-type: circle;
}

ul::marker {
	color: var(--accent);
}

.footnotes {
	@apply text-sm;
	color: var(--contrast);

	li {
		margin-top: 1rem;
	}
}

/* Custom css */
p a,
.slide-link {
	@apply text-primary bg-gradient-to-b from-transparent from-50% to-primary to-50%;
	background-size: auto 185%;
	transition:
		background 0.3s,
		color 0.3s;

	&:hover {
		background-position-y: 100%;
		color: var(--color-primary-on);
	}
}

li a {
	@apply text-primary;
}
