@import './globals.css';
@import './article.css';

@utility btn {
	@apply inline-flex items-center justify-center gap-s-2 rounded-md px-s0 py-s-2 font-medium transition-all duration-300 disabled:cursor-not-allowed disabled:opacity-50;

	&:hover:not(:disabled) {
		transform: translateY(-2px);
	}
}

@utility layout {
	@apply mx-auto grid max-w-2xl px-s0 pt-[4vh];
}
/* Cards */
@utility card {
	@apply border-edge overflow-hidden rounded-md shadow;
}

/* Form Elements */
@utility label {
	@apply flex flex-col gap-s-4;
}
@utility input {
	width: clamp(3rem, 20rem, 100%);
	@apply bg-base-2 focus-within:ring-brand flex shrink items-center gap-s-2 rounded-md px-s-1 py-s-2 ring ring-transparent disabled:cursor-not-allowed disabled:opacity-50;

	:where(input) {
		@apply grow outline-hidden;
	}
}

@utility variant-base {
	@apply bg-base-2 text-content;
}

@utility variant-primary {
	@apply bg-brand text-brand-content;
}

@utility variant-ghost {
	@apply bg-base text-content;
}

@utility variant-light {
	@apply bg-brand/30;
}

@utility variant-outline {
	@apply border-brand text-content hover:bg-brand hover:text-brand-content border-2;
}

:root {
	--font-body:
		'Inter Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-body);
	scroll-behavior: smooth;
}

body:has(dialog[open]) {
	overflow: hidden;
	scrollbar-gutter: stable;
}

body {
	min-height: 100vh;
	background-color: var(--base);
	color: var(--content);
}

code {
	@apply bg-base-2 rounded-md px-s-3 whitespace-nowrap;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin-inline: auto;
}

button:focus:not(:focus-visible) {
	outline: none;
}

ul {
	list-style-type: disc;
	padding-left: var(--s1);
}

ol {
	list-style-type: decimal;
	padding-left: var(--s1);
}

ul ul {
	list-style-type: circle;
}

li::marker {
	@apply text-brand;
}

.footnotes {
	@apply text-content text-s-1;

	li::marker {
		@apply text-content;
	}
}

/* Custom css */
p a:not(:has(code)),
.slide-link {
	@apply text-brand to-brand bg-gradient-to-b from-transparent from-50% to-50%;
	background-size: auto 185%;
	transition:
		background 0.3s,
		color 0.3s;

	&:hover {
		background-position-y: 100%;
		color: var(--brand-content);
	}
}

li a,
a:has(code) {
	@apply text-brand;
}

.preview {
	position: fixed;
	user-select: none;
	pointer-events: none;
	--h: 56px;
	width: 100%;
	height: var(--h);
	z-index: 1;
	backdrop-filter: blur(8px);
	mask-image: linear-gradient(to top, #000, transparent);
	background-image: linear-gradient(to top, var(--base-1) 25%, transparent);
	bottom: 0;
}

.brand-gradient {
	background-image: linear-gradient(
		to bottom right,
		var(--brand),
		var(--brand),
		var(--base-1),
		var(--base-1)
	);
	color: var(--brand-content);
	background-size: 300% 300%;
	background-position: 0% 0%;
	transition:
		background-position 0.7s,
		translate 1s;

	&:hover {
		translate: 0 -0.25rem;
		background-position: 100% 100%;
	}
}
