@import '@fontsource/fira-mono';
@import '@fontsource-variable/inter';

:root {
	color-scheme: light;
	--p0: var(--color-0);
	--p1: var(--color-1);
	--p2: var(--color-2);
	--p3: var(--color-3);
	--p4: var(--color-4);
	--p5: var(--color-5);
	--p6: var(--color-6);
	--p7: var(--color-7);
	--p8: var(--color-8);
	--p9: var(--color-9);
	--pc: var(--color-12);

	--b0: var(--gray-0);
	--b1: var(--gray-1);
	--b2: var(--gray-2);
	--b3: var(--gray-3);
	--b4: var(--gray-4);
	--b5: var(--gray-5);
	--b6: var(--gray-6);
	--b7: var(--gray-7);
	--b8: var(--gray-8);
	--b9: var(--gray-9);
	--bc: var(--gray-10);
}

[data-theme='dark'] {
	color-scheme: dark;
	--b0: var(--gray-10);
	--b1: var(--gray-9);
	--b2: var(--gray-8);
	--b3: var(--gray-7);
	--b4: var(--gray-6);
	--b5: var(--gray-5);
	--b6: var(--gray-4);
	--b7: var(--gray-3);
	--b8: var(--gray-2);
	--b9: var(--gray-1);
	--bc: var(--gray-3);
}

:root {
	--font-body: 'Inter Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-body);
	scroll-behavior: smooth;
}

body:has(dialog[open]) {
	overflow: hidden;
	scrollbar-gutter: stable;
}

:root *::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 8px;
	height: 8px;
}

:root *::-webkit-scrollbar-track {
	background-color: transparent;
}

:root *::-webkit-scrollbar-thumb {
	background-color: var(--b7);
	border-radius: 1rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	@apply bg-base-0 text-base-content;
}

h1,
.H1 {
	@apply text-4xl font-bold;
}
h2,
.H2 {
	@apply text-3xl font-bold;
}
h3,
.H3 {
	@apply text-2xl font-bold;
}
h4,
.H4 {
	@apply text-xl font-bold;
}
h5,
.H5 {
	@apply text-lg font-bold;
}
h6,
.H6 {
	@apply font-bold;
}

p {
	line-height: 1.5;
}

pre {
	font-family: var(--font-mono);
	border-radius: 3px;
	padding: 0.5em;
	overflow-x: auto;
	@apply bg-b1;
}

code {
	@apply bg-primary-4/50 px-1 rounded whitespace-nowrap;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

/* Custom css */
p a,
.slide-link {
	@apply text-primary bg-gradient-to-b from-transparent from-50% to-primary to-50%;
	background-size: auto 185%;
	transition:
		background 0.3s,
		color 0.3s;

	&:hover {
		background-position-y: 100%;
		color: var(--p0);
	}
}
